<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="container">
    <div class="form-box">
      <h2>Forgot Password</h2>
      <p>Enter your email to reset your password</p>

      <form method="POST" action="/forgot">
        <div class="input-box">
          <input type="email" name="email" placeholder="Enter your email" required>
        </div>
        <button type="submit" class="btn">Send Reset Link →</button>
      </form>


      <p class="switch">
        Remembered your password? <a href="/signin">Sign in</a>
      </p>
    </div>
  </div>
</body>

</html>